body {
    background-color: dimgrey;
    font-family: 'Pirata One', cursive;
    font-size: 3em;
    background-image: url("img/26585.png");
    text-align: center;
    color: white;
}

section {
    border: 1px solid black;
    text-align: center;
}

img {
    width: 900px;
    height: 600px;
}